$color: #00ff00;
$blue: #e2e3e4;

body {
  background-color: $blue;
  background-image: url('./img/lol.gif'), url('./img/bears.png'),
    url('./img/in-progress.png');
  background-repeat: no-repeat;
  color: $color;
}

input::placeholder {
  color: $color;
}

.text {
  position: relative;
  left: 20px;
  color: $color;
  border: 1px solid $color;
}
