@import 'vars.scss';
@import 'utils/fonts.scss';
@import 'components/button.scss';
@import 'components/item.scss';

input::placeholder {
  color: $color;
}

.text {
  position: relative;
  left: 20px;
  color: $color;
  border: 1px solid $color;
}

.img {
  @include size(300px, 180px);
  background: url('../img/bears.png');
}
