@font-face {
  font-family: 'PT Astra Sans';
  font-display: swap;
  font-style: normal;
  src: url('../fonts/ptastrasans/Ptastrasans.woff') format('woff'),
    url('../fonts/ptastrasans/Ptastrasans.ttf') format('truetype');
}
